#sign_up-page.sign_up-page
  .sign_up-page__header
    = link_to image_tag("logo/logo.png", class: "sign_up-page__header__image"), root_path
  .sign_up-page__main
    .sign_up-page__main__registration-title
      会員情報入力
    .sign_up-page__main__contents
      = form_for(@user, url: user_registration_path) do |f|
        = render "devise/shared/error_messages", resource: @user
        .sign_up-page__main__contents__form
          .sign_up-page__main__contents__form__nickname
            %span.form-span1  ニックネーム
            %span.form-span2  必須
            = f.text_field :nickname, class: 'sign_up-page__main__contents__form__nickname__input'
          .sign_up-page__main__contents__form__email
            %span.form-span1  メールアドレス
            %span.form-span2  必須
            = f.email_field :email, class: 'sign_up-page__main__contents__form__email__input'
          .sign_up-page__main__contents__form__password
            %span.form-span1  パスワード（7文字以上）
            %span.form-span2  必須
            = f.password_field :password, class: 'sign_up-page__main__contents__form__password__input'
          .sign_up-page__main__contents__form__password_confirmation
            %span.form-span1  パスワード（再確認）
            %span.form-span2  必須
            = f.password_field :password_confirmation, class: 'sign_up-page__main__contents__form__password_confirmation__input'
          .sign_up-page__main__contents__form__text
            %p.sign_up-page__main__contents__text 本人確認
            %p.sign_up-page__main__contents__text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .sign_up-page__main__contents__form__name
            %span.form-span1  お名前
            %span.form-span2  必須
            .sign_up-page__main__contents__form__name__form
              = f.text_field :last_name, class: 'sign_up-page__main__contents__form__name__form__last_name', placeholder: '苗字'
              = f.text_field :first_name, class: 'sign_up-page__main__contents__form__name__form__first_name', placeholder: '名前'
          .sign_up-page__main__contents__form__name_kana
            %span.form-span1  お名前（かな）
            %span.form-span2  必須
            .sign_up-page__main__contents__form__name_kana__form
              = f.text_field :last_name_kana, class: 'sign_up-page__main__contents__form__name_kana__form__last_name', placeholder: '苗字（カナ）'
              = f.text_field :first_name_kana, class: 'sign_up-page__main__contents__form__name_kana__form__first_name', placeholder: '名前（カナ）'
          .sign_up-page__main__contents__form__birth
            %span.form-span1  生年月日
            %span.form-span2  必須
            .sign_up-page__main__contents__form__birth__form
              = f.select :birth_year, { "-":1, '1900':2,'1901':3,'1902':4,'1903':5,'1904':6,'1905':7,'1906':8,'1907':9,'1908':10,'1909':11,'1910':12,'1911':13,'1912':14,'1913':15,'1914':16,'1915':17,'1916':18,'1917':19,'1918':20,'1919':21,'1920':22,'1921':23,'1922':24,'1923':25,'1924':26,'1925':27,'1926':28,'1927':29,'1928':30,'1929':31,'1930':32,'1931':33,'1932':34,'1933':35,'1934':36,'1935':37,'1936':38,'1937':39,'1938':40,'1939':41,'1940':42,'1941':43,'1942':44,'1943':45,'1944':46,'1945':47,'1946':48,'1947':49,'1948':50,'1949':51,'1950':52,'1951':53,'1952':54,'1953':55,'1954':56,'1955':57,'1956':58,'1957':59,'1958':60,'1959':61,'1960':62,'1961':63,'1962':64,'1963':65,'1964':66,'1965':67,'1966':68,'1967':69,'1968':70,'1969':71,'1970':72,'1971':73,'1972':74,'1973':75,'1974':76,'1975':77,'1976':78,'1977':79,'1978':80,'1979':81,'1980':82,'1981':83,'1982':84,'1983':85,'1984':86,'1985':87,'1986':88,'1987':89,'1988':90,'1989':91,'1990':92,'1991':93,'1992':94,'1993':95,'1994':96,'1995':97,'1996':98,'1997':99,'1998':100,'1999':101,'2000':102,'2001':103,'2002':104,'2003':105,'2004':106,'2005':107,'2006':108,'2007':109,'2008':110,'2009':111,'2010':112,'2011':113,'2012':114,'2013':115,'2014':116,'2015':117,'2016':118,'2017':119,'2018':120,'2019':121,'2020':122 },{}, { class: "sign_up-page__main__contents__form__birth__form__year" }
              %span 年
              = f.select :birth_month, { "-":1, '1':2,'2':3,'3':4,'4':5,'5':6,'6':7,'7':8,'8':9,'9':10,'10':11,'11':12,'12':13 },{}, { class: "sign_up-page__main__contents__form__birth__form__month" }
              %span 月
              = f.select :birth_day, { "-":1, '1':2,'2':3,'3':4,'4':5,'5':6,'6':7,'7':8,'8':9,'9':10,'10':11,'11':12,'12':13,'13':14,'14':15,'15':16,'16':17,'17':18,'18':19,'19':20,'20':21,'21':22,'22':23,'23':24,'24':25,'25':26,'26':27,'27':28,'28':29,'29':30,'30':31,'31':32},{}, { class: "sign_up-page__main__contents__form__birth__form__day" }
              %span 日
          .sign_up-page__main__contents__form__phone_number
            %span.form-span1  電話番号
            = f.number_field :phone_number, class: 'sign_up-page__main__contents__form__phone_number__input'
          = f.submit '住所登録へ', class: 'sign_up-page__main__contents__submit'
= render "top/footer"