#sign_up-page.sign_up-page
  .sign_up-page__header
    = link_to image_tag("logo/logo.png", class: "sign_up-page__header__image"), root_path
  .sign_up-page__main
    .sign_up-page__main__registration-title
      会員情報入力
    .sign_up-page__main__contents
      = form_for @address do |f|
        = render "devise/shared/error_messages", resource: @address
        .sign_up-page__main__contents__form
          %span.form-span1  郵便番号
          %span.form-span2  必須
          .sign_up-page__main__contents__form__adress__form
            = f.number_field :postcode, placeholder: " 郵便番号", class: "sign_up-page__main__contents__form__adress__form__postcode"
            = f.collection_select(:prefecture_id, Prefecture.all, :id, :name ,{prompt: "選択して下さい"},{class: "sign_up-page__main__contents__form__adress__form__prefecture_id"})
            = f.text_field :city, placeholder: " 市町村", class: "sign_up-page__main__contents__form__adress__form__city"
            = f.text_field :block, placeholder: " 番地", class: "sign_up-page__main__contents__form__adress__form__block"
            = f.text_field :apartment_number, placeholder: " マンション名 部屋番号（任意）", class: "sign_up-page__main__contents__form__adress__form__apartment_number"
          = f.submit '登録する', class: 'sign_up-page__main__contents__submit'
= render "top/footer"