.sign_up-page__main__contents__form__adress
  = form_for @address, local: true do |f|
    = render "devise/shared/error_messages", resource: @address
    %span.form-span1  郵便番号
    %span.form-span2  必須
    .sign_up-page__main__contents__form__adress__form
      = f.number_field :postcode, placeholder: " 郵便番号", class: "sign_up-page__main__contents__form__adress__form__postcode"
      = f.number_field :prefecture_id, placeholder: " 都道府県", class: "sign_up-page__main__contents__form__adress__form__prefecture_id"
      = f.text_field :city, placeholder: " 市町村", class: "sign_up-page__main__contents__form__adress__form__city"
      = f.text_field :block, placeholder: " 番地", class: "sign_up-page__main__contents__form__adress__form__block"
      = f.text_field :apartment_number, placeholder: " マンション名 部屋番号（任意）", class: "sign_up-page__main__contents__form__adress__form__apartment_number"
    = f.submit '登録する', class: 'sign_up-page__main__contents__submit'