.mypage-side
  %nav.mypage-side__mypage-nav
    %h2.mypage-side__mypage-nav__mypage-nav-head メニュー
    %ul.mypage-side__mypage-nav__mypage-nav-list
      %li
        = link_to "トップページ", "root_path", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li
        = link_to "出品する", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li
        = link_to "出品した商品", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li
        = link_to "購入した商品", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
    %h2.mypage-side__mypage-nav__mypage-nav-head 設定
    %ul.mypage-side__mypage-nav__mypage-nav-list
      %li
        = link_to "プロフィール", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li
        = link_to "クレジットカード情報登録", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li
        = link_to "登録住所変更", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li
        = link_to "メールアドレス/パスワード変更", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li
        = link_to "本人情報", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      %li       
        = link_to "ログアウト", "#", class:"mypage-side__mypage-nav__mypage-nav-list__mypage-nav-item"
      

