.product-box__lists
  - @items.each do |item|
    .product-box__lists__list
      = link_to "#" do
        - if item.buyer_id.present? 
          .product-box__lists__list__sold
            .product-box__lists__list__sold__soldtext
              SOLD
        .product-box__lists__list__image 
          = image_tag item.images.first.image, alt: "商品画像"
        .product-box__lists__list__body 
          %h3.product-box__lists__list__body__name 
            = item.name
          .product-box__lists__list__body__details
            %ul
              %li
                ¥
                = item.price
              %li
                = icon('fas','star') 
                0
            %p
              (税込)
    