%nav.bread-crumbs
  %ul
    %li
      = link_to root_path do
        FURIMA
      = icon('fas' , 'angle-right')
    %li
      = @parent.name
      = icon('fas' , 'angle-right')
    %li
      = @child.name
      = icon('fas' , 'angle-right')
    %li
      = @grandchild.name
      = icon('fas' , 'angle-right')
    %li
      %p 
        = @item.name

.item-main
  .item-main__show
    .item-main__show__content
      - if @item.buyer_id.present? 
        .item-main__show__content__sold
          .item-main__show__content__sold__soldtext
            SOLD
      .item-box
        %h2.item-box__name
          = @item.name
        .item-box__body
          %ul
            %li
              = image_tag @item.images[0].image.url, alt:"商品画像"
              - if @item.images.present? 
                %ul  
                  - @images.each do |image|
                    %li
                      = image_tag image.image.url, alt:"商品画像"
        .item-box__price
          %span.item-box__price__prices 
            ¥
            = @item.price
          .item-box__price__detail
            %span (税込)
            %span 送料込み
        .item-box__detail
        .item-box__table
          %table
            %tbody
              %tr
                %th 出品者
                %td 
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  = @parent.name
                  = icon('fas' , 'angle-right')
                  = @child.name
                  = icon('fas' , 'angle-right')
                  = @grandchild.name
              %tr
                %th ブランド
                %td
              %tr
                %th 商品のサイズ
                %td
              %tr
                %th 商品の状態
                %td 未使用に近い
              %tr
                %th 配送料の負担
                %td 送料込み(出品者負担)
              %tr
                %th 発送元の地域
                %td
                  = link_to "#" do
                    = @prefecture.name
              %tr
                %th 発送日の目安
                %td 
                  = @delivery_day.name
        .optional-area

          %ul
            %li.optional-btn-like
              = icon('fas'  , 'star')
              お気に入り 0
          %ul
            %li.optional-btn
              = link_to "#" do
                = icon('fas'  , 'flag')
                不適切な商品の通報

        - if @item.buyer_id.present?
          .item-btn
            %p "この商品は売り切れました"
        - elsif user_signed_in? && current_user.id == @item.seller_id
          .item-btn
            = link_to "商品の内容を変更する", edit_item_path(params[:id]), data: {confirm: "編集しますか？"}
          .item-btn
            = link_to "この商品を削除する",  item_path(@item.id), method: :delete, data: {confirm: "削除しますか？"}
        - elsif user_signed_in? && current_user.id != @item.seller_id
          .item-buy-btn
            = link_to "購入確認画面へ", purchase_path(params[:id])
        - else
          .item-buy-btn
          
      .comment-box
        %form#new_comment.new_comment{"accept-charset": "UTF-8", acxtion: "#", method: "post"}
          %textarea#comment_body{name: "comment[body]", required: "required"}
        %p.notice
          相手の事を考え丁寧なコメントを心がけましょう。
          %br/
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %button.commentBtn{name: "button", type: "submit"}
          = icon('fas', 'comment')
          コメントする
      %ul.links
        %li.left
          = link_to "#" do
            = icon('fas' , 'angle-left')
            %span 前の商品
        %li.right
          = link_to "#" do
            %span 後ろの商品
            = icon('fas' , 'angle-right')
      .related
        = link_to "#" do
          ベビー・キッズをもっと見る



